# Generated UI files
scripts/ui/ui_*.py

# Build files
build/
.pybuild/
*.pyc
pyexiftoolgui.egg-info/

# IDE files?
scripts/.pyexiftoolgui/
*.wp?

# Debian files
debian/.debhelper/
debian/files
debian/pyexiftoolgui*
