Source: pyexiftoolgui
Section: python
Priority: optional
Maintainer: hvdwolf <hvdwolf@gmail.com>
Build-Depends: debhelper (>= 8),
               dh-python,
               pyside-tools,
               python (>= 2.7),
               python-setuptools,
               python3 (>= 3.1),
               python3-setuptools
Standards-Version: 4.2.1
Homepage: http://hvdwolf.github.io/pyExifToolGUI/
Vcs-Git: https://github.com/hvdwolf/pyExifToolGUI.git
Vcs-Browser: https://github.com/hvdwolf/pyExifToolGUI

Package: pyexiftoolgui
Architecture: all
Depends: ${python:Depends}, 
         ${python3:Depends},
         ${misc:Depends},
         python-qt4,
         python-pyside (>= 1.0.6),
         libimage-exiftool-perl
Description: python Pyside QT4 graphical frontend for ExifTool
 pyExifToolGui is a graphical frontend for the excellent open source command 
 line tool ExifTool by Phil Harvey. pyExifToolGui is a python pySide QT4 
 script program that reads and writes all kind of metadata tags from/to your 
 image files.

# We don't need a pyexiftoolgui3 package setup.
# pyExifToolGUI is internally completely python3 compatible and compliant
# Due to the "private" install in /us/share/pyexiftoolgui and using the
# /usr/bin/env python in the /usr/bin/pyexiftoolgui script it will work
