#!/usr/bin/make -f

export PYBUILD_NAME=pyexiftoolgui
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/pyexiftoolgui/ --install-scripts=/usr/bin/

%:
	$(CURDIR)/pycomp.sh
	dh $@ --with python2,python3 --buildsystem=pybuild
